@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Gabarito:wght@400;600&family=Inter:wght@100;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.font-gabarito {
  font-family: 'Gabarito', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
